.calc {
  width: 400px;
  height: 800px;
  margin: 50px auto;
  padding: 20px;
  border: 3px solid #000000;
  border-radius: 10px;
}

#display {
  width: 370px;
  height: 70px;
  padding: 15px;
  font-size: 40px;
  margin-bottom: 40px;
  text-align: right;
  border: 1px solid #000000;
  border-radius: 10px;
}

.buttons {
  display: grid;
  place-content: center;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: 60px;
  grid-gap: 20px;
}

.buttons button {
  font-size: 25px;
  border: 1px solid;
}

.long-button {
  grid-row: span 2;
}
